
.Welcome{
    text-align: center;
    font-size: 28px;
    background-color: #4682b4;
    border-radius: 25px;
}

.Welcome:hover{
    text-align: center;
    font-size: 28px;
    background-color: #1E90FF;
    border-radius: 25px;
}

.photo{
    margin-top: 25px;
    margin-left: 250px;
    margin-right: 250px;
}
